:root {
    --white: #FFFFFF;
    --yellow: #EDF109;
    --neueregular: NeuePowerRegular;
    --neuemedium: NeuePowerMedium;
    --neuelight: NeuePowerLight;
    --neueultra: NeuePowerUltra;
    --neuebold: NeuePowerBold;
}

/*CUSTOM COLS*/

.col-1-5 {
    flex: 0 0 auto;
    width: 12.5%;
}

.col-3-5 {
    flex: 0 0 auto;
    width: 29.1666%;
}

.col-4-5 {
    flex: 0 0 auto;
    width: 37.5%;
}

@media (max-width: 576px) {
    .computer {
        display: none;
    }

    #second {
        display: none;
    }

    #third {
        display: none;
    }

    #fourth {
        display: none;
    }

    #fifth {
        display: none;
    }

    #sixth {
        display: none;
    }

    #seventh {
        display: none;
    }

    #eighth {
        display: none;
    }

    .footer {
        display: none;
    }

    .mobile {
        transition: 0.3s;
        color: var(--white);
        padding: 20px 10px;

        .hamburgermenu {
            font-size: 30px;
        }

        .open {
            width: 100% !important;
            left: 0% !important;
        }

        .sidebarmenu {
            height: 100vh;
            position: fixed;
            z-index: 423412;
            top: 0;
            left: -100%;
            color: var(--white);
            background-color: var(--white);
            overflow-y: scroll;
            width: 100%;
            transition: 0.5s;

            .active-tab {
                border-bottom: 2px solid black;
            }

            .tab_content {
                display: none;
            }

            .tab-menu {
                font-family: var(--neuemedium);
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: black;
                list-style: none;
                margin: 0;
                padding: 0;

                .woman,
                .man,
                .home,
                .close {
                    padding: 20px 10px;
                    font-family: var(--neueultra);
                    text-align: center;
                }

                .homehref {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .sidebar_btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;

                    .icon-inner {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }

            .tab_container {
                .tab_content {
                    margin: 0;
                    padding: 0;

                    .sidebar_menu_li {
                        padding: 10px;
                        padding-top: 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 10px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                        font-family: var(--neueultra);
                        font-size: 22px;

                        .imagekeeper {
                            border-radius: 10%;
                            overflow: hidden;
                        }

                        &:nth-child(1) {
                            padding-top: 10px;
                        }
                    }
                }
            }

            .footer_sidebar {
                margin: 0;
                padding: 0;
                padding-bottom: 50px;

                li {
                    padding: 10px;
                    padding-top: 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                    font-family: var(--neueultra);
                    font-size: 16px;
                }
            }

        }

        .navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .nav {
                display: flex;
                justify-content: space-between;
                padding-right: 50px;
            }

            .search {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #FFFFFF;
                padding: 0;
                padding-left: 3px;

                .search_input {
                    width: 90%;
                    font-family: var(--neuelight);
                    letter-spacing: 0.08em;
                    background-color: transparent;
                    outline: none;
                    border: none;

                    &::placeholder {
                        color: var(--white);
                    }

                    &:focus {
                        color: var(--white);
                    }
                }

                .search_icon {
                    color: var(--white);
                    font-size: 18px;
                    vertical-align: bottom;
                    padding-bottom: 2px;
                }
            }

            .cart {
                position: relative;

                svg {
                    color: #FFFFFF;
                }

                span {
                    position: absolute;
                    top: -10px;
                    right: -15px;
                    padding: 5px;
                    border-radius: 100%;
                    background-color: var(--yellow);
                    font-size: 11px;
                    line-height: 8px;
                    color: black;
                }
            }

            .account {

                a {
                    border-radius: 100%;
                    padding: 10px 9px;
                    background-color: var(--yellow);

                    svg {
                        padding-left: 1px;
                        padding-bottom: 3px;
                    }
                }
            }
        }
    }


}