* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

//fonts
@font-face {
    font-family: NeuePowerLight;
    src: url(../fonts/Neue_Power/NeuePower-Light.ttf);
}

@font-face {
    font-family: NeuePowerMedium;
    src: url(../fonts/Neue_Power/NeuePower-Medium.ttf);
}

@font-face {
    font-family: NeuePowerRegular;
    src: url(../fonts/Neue_Power/NeuePower-Regular.ttf);
}

@font-face {
    font-family: NeuePowerUltra;
    src: url(../fonts/Neue_Power/NeuePower-Ultra.ttf);
}

@font-face {
    font-family: NeuePowerBold;
    src: url(../fonts/Neue_Power/NeuePower-Bold.ttf);
}

/*#region Custom col classes*/

.col-lg-0-5 {
    flex: 0 0 auto;
    width: 4.16666666%;
}

.col-lg-2-2 {
    flex: 0 0 auto;
    width: 18.333333%;
}

.col-lg-2-5 {
    flex: 0 0 auto;
    width: 20.8333333%;
}

.col-lg-3-5 {
    flex: 0 0 auto;
    width: 29.16666666%;
}

.col-lg-4-5 {
    flex: 0 0 auto;
    width: 37.5%;
}

/*#endregion RegionName*/

:root {
    --white: #FFFFFF;
    --yellow: #EDF109;
    --neueregular: NeuePowerRegular;
    --neuemedium: NeuePowerMedium;
    --neuelight: NeuePowerLight;
    --neueultra: NeuePowerUltra;
    --neuebold: NeuePowerBold;
}

a {
    color: black;
    text-decoration: none;

    &:hover {
        color: black;
    }
}

body {
    height: 4000px;
}

.header {
    z-index: 1;
    background-color: transparent;
    width: 100%;
    font-family: var(--neueregular);
    position: fixed;
    left: 0;
    top: 0%;
    color: var(--white);

    .computer {
        padding: 30px 0;

        a {
            transition: 0.2s;
            font-weight: 400;
            font-size: 15px;
            letter-spacing: 0.08em;
            color: var(--white);

            &:hover {
                color: var(--yellow);
            }
        }

        .navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .nav {
                display: flex;
                justify-content: space-between;
                padding-right: 50px;
            }

            .search {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #FFFFFF;
                padding: 0;
                padding-left: 3px;

                input {
                    width: 90%;
                    font-family: var(--neuelight);
                    color: var(--white);
                    letter-spacing: 0.08em;
                    background-color: transparent;
                    outline: none;
                    border: none;

                    &::placeholder {
                        color: var(--white);
                    }
                }

                .search_icon {
                    color: var(--white);
                    font-size: 18px;
                    vertical-align: bottom;
                    padding-bottom: 2px;
                }
            }

            .cart {
                position: relative;
                color: var(--white);

                svg {
                    color: var(--white);
                    color: #FFFFFF;
                }

                span {
                    position: absolute;
                    top: -8px;
                    right: -3px;
                    padding: 5px;
                    border-radius: 100%;
                    background-color: var(--yellow);
                    font-size: 11px;
                    line-height: 8px;
                    color: black;
                }
            }

            .account {

                a {
                    border-radius: 100%;
                    padding: 10px 10px;
                    background-color: var(--yellow);

                    svg {
                        padding-left: 1px;
                        padding-bottom: 3px;
                    }
                }
            }
        }
    }
}

#first {
    overflow: hidden;
    height: 100vh;
    font-family: var(--neuebold);
    background-image: url(../images/main_Page/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;
    filter: brightness(1.2);
    position: relative;

    .overlay {
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        &:nth-child(2) {
            background: linear-gradient(360deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
        }

        &:nth-child(3) {
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.100) 0%, rgba(255, 255, 255, 0) 100%);
        }

        &:nth-child(4) {
            background: linear-gradient(270deg, rgba(0, 0, 0, 0.100) 0%, rgba(255, 255, 255, 0) 100%);
        }
    }

    .section_keeper {

        .brand_name {
            color: var(--yellow);
            position: absolute;
            top: 50%;
            z-index: 2;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 160px;
            letter-spacing: 0.08em;

            span {
                font-style: italic;
            }
        }

        .trynew {
            font-family: var(--neueregular);
            font-weight: 400;
            font-size: 50px;
            line-height: 60px;
            letter-spacing: 0.08em;
            color: var(--white);
            z-index: 2;
            position: absolute;
            bottom: 12%;
            left: 50%;
            transform: translateX(-50%);
        }

        a {
            font-family: var(--neueregular);
            font-weight: 300;
            font-size: 17px;
            line-height: 20px;
            letter-spacing: 0.08em;
            text-decoration-line: underline;
            color: var(--white);
            z-index: 2;
            position: absolute;
            bottom: 8%;
            left: 50%;
            transform: translateX(-50%);
            transition: 0.2s;

            &:hover {
                color: var(--yellow);
            }
        }

        .discount {
            font-family: var(--neuemedium);
            padding: 2px 18px;
            background-color: var(--yellow);
            color: black;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.08em;

            z-index: 2;
            position: absolute;
            bottom: 8%;
            left: 76%;
        }

    }
}