* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//fonts
@font-face {
    font-family: NeuePowerLight;
    src: url(../fonts/Neue_Power/NeuePower-Light.ttf);
}

@font-face {
    font-family: NeuePowerMedium;
    src: url(../fonts/Neue_Power/NeuePower-Medium.ttf);
}

@font-face {
    font-family: NeuePowerRegular;
    src: url(../fonts/Neue_Power/NeuePower-Regular.ttf);
}

@font-face {
    font-family: NeuePowerUltra;
    src: url(../fonts/Neue_Power/NeuePower-Ultra.ttf);
}

/*#region Custom col classes*/

.col-lg-0-5 {
    flex: 0 0 auto;
    width: 4.16666666%;
}

.col-lg-2-2 {
    flex: 0 0 auto;
    width: 18.333333%;
}

.col-lg-2-5 {
    flex: 0 0 auto;
    width: 20.8333333%;
}

.col-lg-3-5 {
    flex: 0 0 auto;
    width: 29.16666666%;
}

/*#endregion RegionName*/

:root {
    --white: #FFFFFF;
    --yellow: #EDF109;
    --neueregular: NeuePowerRegular;
    --neuemedium: NeuePowerMedium;
    --neuelight: NeuePowerLight;
    --neueultra: NeuePowerUltra;
}

a {
    color: black;
    text-decoration: none;

    &:hover {
        color: black;
    }
}

body {
    height: 4000px;
}

.header {
    background-color: transparent;
    width: 100%;
    font-family: var(--neueregular);
    position: fixed;
    left: 0;
    top: 0%;
    color: var(--white);

    .computer {
        padding: 30px 0;

        a {
            transition: 0.2s;
            font-weight: 400;
            font-size: 15px;
            letter-spacing: 0.08em;
            color: var(--white);

            &:hover {
                color: var(--yellow);
            }
        }

        .navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .nav {
                display: flex;
                justify-content: space-between;
                padding-right: 50px;
            }

            .search {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #FFFFFF;
                padding: 0;
                padding-left: 3px;

                input {
                    width: 90%;
                    font-family: var(--neuelight);
                    color: var(--white);
                    letter-spacing: 0.08em;
                    background-color: transparent;
                    outline: none;
                    border: none;

                    &::placeholder {
                        color: var(--white);
                    }
                }

                .search_icon {
                    color: var(--white);
                    font-size: 18px;
                    vertical-align: bottom;
                    padding-bottom: 2px;
                }
            }

            .cart {
                position: relative;
                color: var(--white);

                svg {
                    color: var(--white);
                    color: #FFFFFF;
                }

                span {
                    position: absolute;
                    top: -8px;
                    right: -3px;
                    padding: 5px;
                    border-radius: 100%;
                    background-color: var(--yellow);
                    font-size: 11px;
                    line-height: 8px;
                    color: black;
                }
            }

            .account {

                a {
                    border-radius: 100%;
                    padding: 10px 10px;
                    background-color: var(--yellow);

                    svg {
                        padding-left: 1px;
                        padding-bottom: 3px;
                    }
                }
            }
        }
    }
}