* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

//fonts
@font-face {
    font-family: NeuePowerLight;
    src: url(../fonts/Neue_Power/NeuePower-Light.ttf);
}

@font-face {
    font-family: NeuePowerMedium;
    src: url(../fonts/Neue_Power/NeuePower-Medium.ttf);
}

@font-face {
    font-family: NeuePowerRegular;
    src: url(../fonts/Neue_Power/NeuePower-Regular.ttf);
}

@font-face {
    font-family: NeuePowerUltra;
    src: url(../fonts/Neue_Power/NeuePower-Ultra.ttf);
}

@font-face {
    font-family: NeuePowerBold;
    src: url(../fonts/Neue_Power/NeuePower-Bold.ttf);
}

/*#region Custom col classes*/

.col-lg-0-5 {
    flex: 0 0 auto;
    width: 4.16666666%;
}

.col-lg-2-2 {
    flex: 0 0 auto;
    width: 18.333333%;
}

.col-lg-2-5 {
    flex: 0 0 auto;
    width: 20.8333333%;
}

.col-lg-3-5 {
    flex: 0 0 auto;
    width: 29.16666666%;
}

.col-lg-4-5 {
    flex: 0 0 auto;
    width: 37.5%;
}

/*#endregion RegionName*/

:root {
    --white: #FFFFFF;
    --yellow: #EDF109;
    --neueregular: NeuePowerRegular;
    --neuemedium: NeuePowerMedium;
    --neuelight: NeuePowerLight;
    --neueultra: NeuePowerUltra;
    --neuebold: NeuePowerBold;
}

a {
    color: black;
    text-decoration: none;

    &:hover {
        color: black;
    }
}

.header {
    z-index: 1000;
    background-color: transparent;
    width: 100%;
    font-family: var(--neueregular);
    position: fixed;
    left: 0;
    top: 0%;
    // background: rgb(0, 0, 0);
    // background: linear-gradient(180deg, rgba(0, 0, 0, 0.0) 0%, rgba(255, 255, 0, 0.5) 100%);
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--white);

    .computer {
        padding: 30px 0;
        transition: 0.3s;
        color: var(--white);

        // .forheaderscroll {
        //     color: yellow !important;
        //     fill: yellow !important;
        //     stroke: yellow !important;

        //     &:hover {
        //         color: black !important;
        //     }

        //     &:focus {
        //         color: yellow;
        //     }
        // }

        // .forheaderscroll {
        //     color: black !important;
        //     fill: black !important;
        //     stroke: black !important;

        //     &:hover {
        //         color: var(--yellow) !important;
        //     }

        //     &:focus {
        //         color: black;
        //     }
        // }

        a {
            transition: 0.2s;
            font-weight: 400;
            font-size: 15px;
            letter-spacing: 0.08em;
            color: var(--white);

            &:hover {
                color: var(--yellow);
            }
        }

        .navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .nav {
                display: flex;
                justify-content: space-between;
                padding-right: 50px;
            }

            .search {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #FFFFFF;
                padding: 0;
                padding-left: 3px;

                .search_input {
                    width: 90%;
                    font-family: var(--neuelight);
                    letter-spacing: 0.08em;
                    background-color: transparent;
                    outline: none;
                    border: none;

                    &::placeholder {
                        color: var(--white);
                    }

                    &:focus {
                        color: var(--white);
                    }
                }

                // .searchinputforjs {
                //     width: 90%;
                //     font-family: var(--neuelight);
                //     letter-spacing: 0.08em;
                //     background-color: transparent;
                //     outline: none;
                //     border: none;

                //     &::placeholder {
                //         color: yellow !important;
                //     }
                // }

                .search_icon {
                    color: var(--white);
                    font-size: 18px;
                    vertical-align: bottom;
                    padding-bottom: 2px;
                }
            }

            .cart {
                position: relative;

                svg {
                    color: #FFFFFF;
                }

                span {
                    position: absolute;
                    top: -8px;
                    right: -3px;
                    padding: 5px;
                    border-radius: 100%;
                    background-color: var(--yellow);
                    font-size: 11px;
                    line-height: 8px;
                    color: black;
                }
            }

            .account {

                a {
                    border-radius: 100%;
                    padding: 10px 10px;
                    background-color: var(--yellow);

                    svg {
                        padding-left: 1px;
                        padding-bottom: 3px;
                    }
                }
            }
        }
    }
}

#first {
    overflow: hidden;
    height: 100vh;
    font-family: var(--neuebold);
    background-image: url(../images/main_Page/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;
    filter: brightness(1.2);
    position: relative;

    .overlay {
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        &:nth-child(2) {
            background: linear-gradient(360deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
        }

        &:nth-child(3) {
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.100) 0%, rgba(255, 255, 255, 0) 100%);
        }

        &:nth-child(4) {
            background: linear-gradient(270deg, rgba(0, 0, 0, 0.100) 0%, rgba(255, 255, 255, 0) 100%);
        }
    }

    .section_keeper {

        .brand_name {
            color: var(--yellow);
            position: absolute;
            top: 50%;
            z-index: 2;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 160px;
            letter-spacing: 0.08em;

            span {
                font-style: italic;
            }
        }

        .trynew {
            font-family: var(--neueregular);
            font-weight: 400;
            font-size: 50px;
            line-height: 60px;
            letter-spacing: 0.08em;
            color: var(--white);
            z-index: 2;
            position: absolute;
            bottom: 12%;
            left: 50%;
            transform: translateX(-50%);
        }

        a {
            font-family: var(--neueregular);
            font-weight: 300;
            font-size: 17px;
            line-height: 20px;
            letter-spacing: 0.08em;
            text-decoration-line: underline;
            color: var(--white);
            z-index: 2;
            position: absolute;
            bottom: 8%;
            left: 50%;
            transform: translateX(-50%);
            transition: 0.2s;

            &:hover {
                color: var(--yellow);
            }
        }

        .discount {
            font-family: var(--neuemedium);
            padding: 2px 18px;
            background-color: var(--yellow);
            color: black;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.08em;

            z-index: 2;
            position: absolute;
            bottom: 8%;
            left: 76%;
        }

    }
}

#second {
    overflow: hidden;
    height: 100vh;
    position: relative;
    font-family: var(--neuebold);
    padding: 0 120px;
    margin-bottom: 70px;

    .mission {
        width: 35%;
        font-weight: 500;
        font-size: 65px;
        line-height: 114%;
        letter-spacing: 0.08em;
        color: var(--yellow);
        position: absolute;
        left: 10%;
        top: 5%;

        span {
            font-style: italic;
        }
    }

    .image1 {
        position: absolute;
        top: 8%;
        right: 30%;
        width: 19%;
        z-index: 8;
    }

    .keeper {
        position: absolute;
        width: 30%;
        bottom: 0;
        left: 10%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .image2 {
            width: 80%;
        }

        p {
            padding-left: 10px;
            font-family: var(--neueregular);
            font-weight: 300;
            font-size: 23px;
            line-height: 28px;
            letter-spacing: 0.08em;
        }
    }

    .image3 {
        position: absolute;
        bottom: 0;
        right: 10%;
        width: 25%;
        z-index: 6;
    }

    .seemore {
        font-family: var(--neueregular);
        border: 1px solid #000000;
        position: absolute;
        display: block;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px 95px;
        background-color: var(--white);
        letter-spacing: 0.08em;
        color: black;
        transition: 0.2s;

        &:hover {
            background-color: var(--yellow);
        }
    }
}

#third {
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;

    .mainpart {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .new_products {
            font-family: var(--neuemedium);
            font-weight: 500;
            width: 50%;
            font-size: 65px;
            line-height: 114%;
            letter-spacing: 0.08em;
            color: var(--yellow);
        }

        .seemore {
            font-family: var(--neueregular);
            border: 1px solid #000000;
            display: block;
            padding: 20px 95px;
            background-color: var(--white);
            letter-spacing: 0.08em;
            color: black;
            transition: 0.2s;

            &:hover {
                background-color: var(--yellow);
            }
        }
    }

    .transformed_p {
        position: absolute;
        top: 45%;
        width: 135%;
        padding: 20px 60px;
        background-color: var(--yellow);
        font-family: var(--neuelight);
        font-weight: 300;
        font-size: 50px;
        line-height: 114%;
        letter-spacing: 0.08em;
    }

    .transformed_left {
        left: 50%;
        transform: translateX(-50%) rotate(13.48deg);
    }

    .transformed_right {
        left: 50%;
        transform: translateX(-50%) rotate(-13.48deg);
    }

    .newprodcs {
        height: 72vh;
        margin: 0 auto;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        .newprodcs_element {
            padding: 0;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 28%;
            z-index: 1;
            font-family: var(--neuemedium);

            .empty_space {
                height: 15%;
            }

            .element {
                height: 85%;
                position: relative;

                .product_name {
                    position: absolute;
                    bottom: 7%;
                    left: 5%;
                    width: 100%;
                    font-weight: 500;
                    color: black;
                    font-size: 14px;
                    line-height: 114%;
                    letter-spacing: 0.08em;
                }

                img {
                    vertical-align: bottom;
                    height: 100%;
                }

                .product_price {
                    position: absolute;
                    bottom: 7%;
                    right: 6%;
                    padding: 5px 15px;
                    background-color: var(--yellow);
                    transform: rotate(-9.44deg);
                    color: black;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 114%;
                    letter-spacing: 0.08em;
                }

                .wishlist {
                    position: absolute;
                    top: 5%;
                    right: 5%;
                    transition: 0.2s;
                    cursor: pointer;

                    &:hover {
                        svg {
                            fill: var(--yellow);
                        }
                    }
                }

                .basket {
                    position: absolute;
                    top: 5%;
                    left: 5%;
                    transition: 0.2s;
                    cursor: pointer;

                    &:hover {
                        .basket_svg {
                            fill: var(--yellow);
                            stroke: yellow;
                        }
                    }
                }
            }

            &:nth-child(even) {
                .empty_space {
                    order: 0;
                }

                .element {
                    order: 1;
                }
            }

            &:nth-child(odd) {
                .empty_space {
                    order: 1;
                }

                .element {
                    order: 0;
                }
            }
        }
    }
}

#fourth {
    margin-top: 70px;
    height: 100vh;
    position: relative;
    overflow: visible;
    width: 100%;

    .mainpart {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;

        .preorder_prods {
            font-family: var(--neuemedium);
            font-weight: 500;
            width: 60%;
            font-size: 65px;
            line-height: 114%;
            letter-spacing: 0.08em;
            color: var(--yellow);
        }

        .seemore {
            font-family: var(--neueregular);
            border: 1px solid #000000;
            display: block;
            padding: 20px 95px;
            background-color: var(--white);
            letter-spacing: 0.08em;
            color: black;
            transition: 0.2s;

            &:hover {
                background-color: var(--yellow);
            }
        }
    }

    .slider {
        margin-bottom: 0;

        .slick-slide {
            margin: 0 10px;
        }

        .imagekeeper {
            position: relative;

            .wishlist {
                position: absolute;
                top: 5%;
                right: 5%;
                transition: 0.2s;
                cursor: pointer;

                &:hover {
                    svg {
                        fill: var(--yellow);
                    }
                }
            }

            .basket {
                position: absolute;
                top: 5%;
                left: 5%;
                transition: 0.2s;
                cursor: pointer;

                &:hover {
                    svg {
                        fill: var(--yellow);
                    }
                }
            }
        }

        .preorder {
            margin-top: 12px;
            font-family: var(--neuebold);
            font-weight: 700;
            font-size: 12px;
            line-height: 114%;
            letter-spacing: 0.08em;
        }

        .name {
            margin-top: 10px;
            font-family: var(--neueregular);
            font-weight: 500;
            font-size: 13px;
            line-height: 114%;
            letter-spacing: 0.08em;
        }

        .price {
            margin-top: 7px;
            font-weight: 700;
            font-family: var(--neuebold);
            font-size: 16px;
            line-height: 114%;
            letter-spacing: 0.08em;
        }
    }
}

#fifth {
    height: 100vh;
    margin-top: 70px;
    position: relative;
    width: 100%;

    .right {
        padding: 0 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .first {
            text-align: center;
            font-family: var(--neueregular);
            font-weight: 400;
            font-size: 25px;
            line-height: 114%;
            text-align: center;
            letter-spacing: 0.08em;
        }

        img {
            width: 60%;
            margin: 25px auto;
        }

        .linktobloggerclothes {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 57%;
            margin-bottom: 25px;

            .second {
                font-family: var(--neueultra);
                font-weight: 500;
                font-size: 11px;
                line-height: 114%;
                letter-spacing: 0.08em;
                transition: 0.2s;

                &:hover {
                    color: yellow;
                }
            }

            svg {
                transition: 0.3s;
            }

            &:hover svg {
                transform: translateX(20%);
                fill: yellow;
                stroke: yellow;
            }
        }

        .third {
            text-align: center;
            font-family: var(--neueregular);
            font-weight: 400;
            font-size: 25px;
            line-height: 114%;
            text-align: center;
            letter-spacing: 0.08em;
        }
    }
}

#sixth {
    overflow: hidden;
    height: 96vh;
    font-family: var(--neuebold);
    background-image: url(../images/main_Page/just_launched.jpg);
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;
    position: relative;
    margin: 50px 0;

    .just_launched {
        font-family: var(--neuemedium);
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.08em;

        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);

        padding: 5px 20px;
        background-color: yellow;
        color: black;
    }

    .shipping {
        width: 70%;
        font-weight: 500;
        font-size: 86px;
        line-height: 114%;
        font-family: var(--neuemedium);
        text-align: center;
        letter-spacing: 0.08em;
        color: yellow;

        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .section_keeper {
        padding: 20px;
        background-color: white;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: var(--neuebold);
        font-weight: 700;
        font-size: 14px;
        line-height: 114%;
        letter-spacing: 0.08em;

        a {
            font-family: var(--neueregular);
            border: 1px solid #000000;
            display: block;
            padding: 17px 75px;
            background-color: var(--white);
            letter-spacing: 0.08em;
            color: black;
            transition: 0.2s;

            &:hover {
                background-color: var(--yellow);
            }
        }
    }
}