:root {
    --white: #FFFFFF;
    --yellow: #EDF109;
    --neueregular: NeuePowerRegular;
    --neuemedium: NeuePowerMedium;
    --neuelight: NeuePowerLight;
    --neueultra: NeuePowerUltra;
    --neuebold: NeuePowerBold;
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}


.aboutsixth {
    margin-bottom: 30px;

    .all {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        letter-spacing: 0.08em;

        .thirdpabout {
            font-family: var(--neueultra);
            font-size: 50px;
            text-align: center;
            color: var(--yellow);
        }

        .allthen {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 30px 0;
            align-items: center;

            .left,
            .right {
                padding: 20px;
            }

            .left {
                position: relative;
                overflow: hidden;

                .firstcar {
                    position: absolute;
                    top: -0.5%;
                    left: 0.3%;
                    width: 95%;
                    overflow: hidden;

                    .carouselkeeper {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 1600%;

                        .karuselitem {
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 114%;
                            letter-spacing: 0.08em;
                            font-family: var(--neuemedium);
                            animation: scroll 40s linear infinite;
                        }
                    }
                }

                .secondcar {
                    position: absolute;
                    top: 46%;
                    left: 43.5%;
                    width: 109.5%;
                    overflow: hidden;
                    transform: rotate(90deg);

                    .carouselkeeper {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 1600%;

                        .karuselitem {
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 114%;
                            letter-spacing: 0.08em;
                            font-family: var(--neuemedium);
                            animation: scroll 40s linear infinite;
                        }
                    }
                }

                .thirdcar {
                    position: absolute;
                    top: 49.5%;
                    left: -53%;
                    width: 109.5%;
                    overflow: hidden;
                    transform: rotate(-90deg);

                    .carouselkeeper {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 1600%;

                        .karuselitem {
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 114%;
                            letter-spacing: 0.08em;
                            font-family: var(--neuemedium);
                            animation: scroll 40s linear infinite;
                        }
                    }
                }

                .forthcar {
                    position: absolute;
                    bottom: -0.5%;
                    right: 0.4%;
                    width: 95%;
                    overflow: hidden;
                    transform: rotate(180deg);

                    .carouselkeeper {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 1600%;

                        .karuselitem {
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 114%;
                            letter-spacing: 0.08em;
                            font-family: var(--neuemedium);
                            animation: scroll 40s linear infinite;
                        }
                    }
                }
            }

            .right {
                p {
                    font-weight: 300;
                    font-size: 21px;
                    line-height: 131%;
                    letter-spacing: 0.08em;
                    font-family: var(--neueregular);
                    margin-bottom: 15px;
                }

                a {
                    font-family: var(--neueultra);
                    margin-bottom: 0;
                    font-size: 23px;
                    line-height: 131%;
                    font-weight: 300;
                    letter-spacing: 0.08em;
                }
            }
        }
    }
}