:root {
    --white: #FFFFFF;
    --yellow: #EDF109;
    --neueregular: NeuePowerRegular;
    --neuemedium: NeuePowerMedium;
    --neuelight: NeuePowerLight;
    --neueultra: NeuePowerUltra;
    --neuebold: NeuePowerBold;
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

.accountinfoall {
    width: 100%;
    margin-bottom: 30px;

    .all {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        letter-spacing: 0.08em;
        margin: 0;
        padding: 0;

        .firstp {
            font-family: var(--neueultra);
            font-size: 40px;
            margin: 0;
            padding: 0;
            text-align: center;
            color: var(--yellow);
        }

        form {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            margin-top: 40px;

            .head {
                font-family: var(--neuebold);
                font-size: 18px;
                margin: 0;
                padding: 0;
                margin-bottom: 15px;
            }

            label {
                font-family: var(--neuemedium);
                font-size: 14px;
            }

            button {
                width: 100%;
                background-color: black;
                text-align: center;
                padding: 10px 0;
                color: white;
                font-family: var(--neuemedium);
                font-size: 16px;
                margin-top: 20px;
            }

            input {
                border: 1px solid black;
                outline: none;
                border-radius: 3px;
                box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
                padding: 10px;
                font-family: var(--neuemedium);
                font-size: 15px;
            }

            .keeperdiv {
                margin: 10px 0;
            }

            .left {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

                .genderdiv {
                    display: flex;
                    justify-content: space-around;
                    align-self: flex-end;
                    flex-wrap: wrap;
                    align-items: center;

                    label {
                        font-family: var(--neuemedium);
                        font-size: 14px;
                        transition: 0.2s;
                        padding: 10px;
                    }

                    input {
                        display: none;
                    }

                    .checkedlabel {
                        border-radius: 3px;
                        border: 1px solid var(--yellow);
                    }
                }
            }

            .right {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }
    }
}

@media (max-width: 768px) {
    .accountinfoall {
        .all {
            .firstp {
                font-size: 30px;
            }

            form {
                margin-top: 20px;

                .right {
                    margin-top: 40px;
                }
            }
        }
    }
}