:root {
    --white: #FFFFFF;
    --yellow: #EDF109;
    --neueregular: NeuePowerRegular;
    --neuemedium: NeuePowerMedium;
    --neuelight: NeuePowerLight;
    --neueultra: NeuePowerUltra;
    --neuebold: NeuePowerBold;
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

.basketfourth {
    .fourthall {
        .recentlyviewed {
            margin: 50px 0;

            p {
                font-weight: 800;
                font-size: 50px;
                line-height: 114%;
                letter-spacing: 0.08em;
                font-family: var(--neuebold);
                color: var(--yellow);
                margin-bottom: 30px;

                span {
                    font-style: oblique;
                    padding: 0;
                    margin: 0;
                }
            }

            .recentlyvieweddiv {
                padding: 5px;

                .nextbasket {
                    margin-bottom: -1px;
                }

                .arrows {
                    margin-top: 15px;
                    cursor: pointer;
                }

                .recentlyvieweditems {
                    .product {
                        padding-right: 10px;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        position: relative;

                        &:hover {
                            .top {
                                .wishlist {
                                    visibility: visible !important;
                                    opacity: 1 !important;
                                }
                            }

                            .bottom {
                                .basket {
                                    visibility: visible !important;
                                    opacity: 1 !important;
                                }

                                .bobotleft {
                                    visibility: visible !important;
                                    opacity: 1 !important;
                                }

                                .bobotright {
                                    visibility: visible !important;
                                    opacity: 1 !important;
                                }
                            }
                        }

                        .top {
                            position: relative;

                            .wishlist {
                                visibility: hidden;
                                opacity: 0;
                                position: absolute;
                                top: 5.8%;
                                right: 5%;
                                transition: 0.2s;
                                cursor: pointer;
                                background-color: transparent;

                                svg {
                                    transition: 0.2s;
                                }

                                &:hover {
                                    svg {
                                        fill: var(--yellow);

                                        path {
                                            fill: var(--yellow);
                                            stroke: var(--yellow);
                                        }
                                    }
                                }
                            }

                            .discount_percent {
                                margin: 0;
                                padding: 0;
                                position: absolute;
                                bottom: 3%;
                                right: 3%;

                                span {
                                    font-family: var(--neuebold);
                                    font-size: 13px;
                                    padding: 5px 10px;
                                    letter-spacing: 0.1em;
                                    background-color: var(--yellow);
                                    color: black;
                                }
                            }
                        }

                        .bottom {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            flex-wrap: wrap;
                            margin-top: 8px;

                            .botop {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                flex-wrap: wrap;

                                .botopleft {
                                    padding-left: 10px;
                                    font-size: 15px;
                                    font-family: var(--neuelight);
                                    letter-spacing: 0.08em;
                                }

                                .botopright {
                                    font-family: var(--neuebold);
                                    letter-spacing: 0.08em;

                                    .discprice {
                                        text-align: end;
                                        font-size: 19px;
                                        text-decoration: none !important;
                                    }
                                }
                            }

                            .bobottom {
                                display: flex;
                                justify-content: space-between;
                                flex-wrap: wrap;
                                align-items: center;
                                margin-top: 8px;


                                .basket {
                                    opacity: 0;
                                    visibility: hidden;
                                    position: absolute;
                                    top: 5%;
                                    left: 5%;
                                    transition: 0.2s;
                                    cursor: pointer;
                                    border: none;
                                    outline: none;
                                    background-color: transparent;

                                    svg {
                                        transition: 0.2s;
                                    }

                                    &:hover {
                                        svg {
                                            fill: var(--yellow);
                                            stroke: var(--yellow);

                                            path {
                                                fill: var(--yellow);
                                                stroke: var(--yellow);
                                            }
                                        }
                                    }
                                }

                                .bobotleft {
                                    opacity: 0;
                                    transition: 0.2s;
                                    visibility: hidden;
                                    padding-left: 10px;

                                    select {
                                        width: 100%;
                                        outline: none;
                                        font-family: var(--neueregular);
                                        border-radius: 0;
                                        font-weight: 400;
                                        font-size: 14px;
                                        letter-spacing: 0.08em;
                                    }
                                }

                                .bobotright {
                                    opacity: 0;
                                    transition: 0.2s;
                                    visibility: hidden;
                                    margin: 0 auto;
                                    display: flex;
                                    justify-content: flex-end;
                                    align-items: center;

                                    input {
                                        display: none;
                                    }

                                    label,
                                    .color_box {
                                        height: 15px;
                                        width: 15px;
                                        cursor: pointer;
                                        border: 0.3px solid white;
                                        outline: 0.3px solid black;
                                        position: relative;
                                        margin-left: 8px;

                                        .markicon {
                                            font-size: 20px;
                                            position: absolute;
                                            bottom: -30%;
                                            left: -25%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
