* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: NeuePowerLight;
    src: url(../fonts/Neue_Power/NeuePower-Light.ttf);
}

@font-face {
    font-family: NeuePowerMedium;
    src: url(../fonts/Neue_Power/NeuePower-Medium.ttf);
}

@font-face {
    font-family: NeuePowerRegular;
    src: url(../fonts/Neue_Power/NeuePower-Regular.ttf);
}

@font-face {
    font-family: NeuePowerUltra;
    src: url(../fonts/Neue_Power/NeuePower-Ultra.ttf);
}

@font-face {
    font-family: NeuePowerBold;
    src: url(../fonts/Neue_Power/NeuePower-Bold.ttf);
}

:root {
    --white: #FFFFFF;
    --yellow: #EDF109;
    --neueregular: NeuePowerRegular;
    --neuemedium: NeuePowerMedium;
    --neuelight: NeuePowerLight;
    --neueultra: NeuePowerUltra;
    --neuebold: NeuePowerBold;
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

a {
    color: black;
    text-decoration: none;

    &:hover {
        color: black;
    }
}

.where {
    opacity: 0;
    margin-top: 30px;
}

.basketfirst {
    width: 100%;
    margin-top: 30px;

    .all {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;

        .keeper {
            display: flex;
            flex-direction: column;

            .top {
                font-family: var(--neueultra);
                font-weight: 800;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                letter-spacing: 0.08em;
                margin-bottom: 18px;
            }

            .bottom {
                font-weight: 500;
                font-size: 15px;
                line-height: 114%;
                text-align: center;
                letter-spacing: 0.08em;
                font-family: var(--neuemedium);
            }
        }

    }
}

.basketsecond {
    margin-top: 30px;

    .firstp {
        font-family: var(--neueultra);
        font-size: 50px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.08em;
        color: var(--yellow);
        margin-bottom: 30px;
    }

    .all {
        display: flex;
        justify-content: space-between;
        // align-items: center;

        .left {
            display: flex;
            flex-direction: column;

            .basketlement {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                margin-bottom: 30px;

                .rightleft {
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    .top {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 25px;
                        padding-left: 20px;

                        p {
                            font-family: var(--neueregular);
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 18px;
                            letter-spacing: 0.08em;
                            margin-bottom: 10px;
                        }

                        span {
                            font-weight: 700;
                            font-size: 15px;
                            line-height: 114%;
                            letter-spacing: 0.08em;
                            font-family: var(--neueultra);
                        }
                    }

                    .middle {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        margin-bottom: 25px;
                        padding-left: 20px;

                        div {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 15px;

                            &:nth-child(2),
                            &:nth-child(4) {
                                padding-left: 20px;
                            }

                            span {
                                &:nth-child(1) {
                                    font-family: var(--neueregular);
                                    font-weight: 400;
                                    font-size: 13px;
                                    line-height: 114%;
                                    letter-spacing: 0.08em;
                                }

                                &:nth-child(2) {
                                    font-weight: 700;
                                    font-size: 13px;
                                    line-height: 114%;
                                    font-family: var(--neuebold);
                                    letter-spacing: 0.08em;
                                }
                            }
                        }
                    }

                    .bottom {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-left: 20px;

                        a {
                            font-family: var(--neueregular);
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 114%;
                            letter-spacing: 0.08em;
                            text-decoration-line: underline;
                        }

                        div {
                            &:nth-child(2) {
                                padding-left: 20px;
                            }
                        }

                        .productquantity {
                            display: flex;
                            padding: 5px 10px;
                            border: 0.8px solid black;
                            justify-content: space-between;
                            align-items: center;

                            a {
                                width: 30%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 20px;
                            }

                            input {
                                width: 20%;
                                text-align: center;
                                border: none;
                                outline: none;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 114%;
                                font-family: var(--neueregular);
                            }
                        }
                    }
                }

                .deletefrombasketinbaskethtmlpage {
                    position: absolute;
                    top: 0;
                    right: 0;
                    cursor: pointer;
                }
            }
        }

    }
}