:root {
    --white: #FFFFFF;
    --yellow: #EDF109;
    --neueregular: NeuePowerRegular;
    --neuemedium: NeuePowerMedium;
    --neuelight: NeuePowerLight;
    --neueultra: NeuePowerUltra;
    --neuebold: NeuePowerBold;
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

.basketsecond {
    margin-top: 20px;

    .firstp {
        font-family: var(--neueultra);
        font-size: 50px;
        text-align: center;
        letter-spacing: 0.08em;
        color: var(--yellow);
        margin-bottom: 20px;
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(220, 220, 220);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgb(220, 220, 220);
    }

    .all {
        display: flex;
        justify-content: space-between;

        .left {
            display: flex;
            flex-direction: column;
            height: 86vh;
            overflow-y: scroll;

            .basketlement {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                margin-bottom: 20px;

                .rightleft {
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    .top {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 20px;
                        padding-left: 20px;

                        p {
                            font-family: var(--neueregular);
                            font-size: 18px;
                            letter-spacing: 0.08em;
                        }

                        .total {
                            position: absolute;
                            top: 0;
                            right: 0;
                            font-size: 18px;
                            letter-spacing: 0.08em;
                            font-family: var(--neueultra);
                        }
                    }

                    .middle {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        margin-bottom: 20px;
                        padding-left: 20px;

                        div {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            &:nth-child(1),
                            &:nth-child(2) {
                                margin-bottom: 15px;
                            }

                            span {
                                &:nth-child(1) {
                                    font-family: var(--neuemedium);
                                    font-size: 15px;
                                    letter-spacing: 0.08em;
                                }

                                &:nth-child(2) {
                                    font-size: 16px;
                                    font-family: var(--neuebold);
                                    letter-spacing: 0.08em;
                                }
                            }
                        }
                    }

                    .bottom {
                        display: flex;
                        align-items: center;
                        padding-left: 20px;

                        .mobilewishlist {
                            display: none;
                        }

                        .deletefrombasketinbaskethtmlpage {
                            position: absolute;
                            bottom: 1%;
                            right: 0;
                            cursor: pointer;
                        }

                        .compwishlist {
                            font-family: var(--neueregular);
                            font-size: 16px;
                            letter-spacing: 0.08em;
                            text-decoration-line: underline;
                        }

                        .productquantity {
                            display: flex;
                            padding: 0;
                            margin: 0;
                            border: 0.8px solid black;
                            justify-content: space-between;
                            align-items: center;
                            position: relative;

                            a {
                                width: 30%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 20px;
                            }

                            ion-icon {
                                font-size: 25px;
                            }

                            input {
                                width: 20%;
                                text-align: center;
                                border: none;
                                outline: none;
                                font-style: normal;
                                font-size: 16px;
                                font-family: var(--neueregular);
                            }
                        }
                    }
                }
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            padding-left: 40px;

            .top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                border-bottom: 1px solid black;
                border-top: 1px solid black;
                padding: 20px 0;

                span {
                    font-size: 18px;
                    letter-spacing: 0.08em;
                    font-family: var(--neueregular);

                    &:nth-child(1),
                    &:nth-child(2) {
                        padding-bottom: 20px;
                    }

                    &:nth-child(2),
                    &:nth-child(4) {
                        font-family: var(--neuebold);
                    }
                }
            }

            .middle {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                border-bottom: 1px solid black;
                padding: 20px 0;

                span {
                    font-size: 18px;
                    letter-spacing: 0.08em;
                    font-family: var(--neueregular);

                    &:nth-child(2) {
                        font-family: var(--neuebold);
                    }
                }
            }

            .bottom {
                display: flex;
                flex-direction: column;
                padding: 20px 0;
                width: 100%;

                .checkouthref {
                    font-family: var(--neueregular);
                    font-size: 16px;
                    letter-spacing: 0.08em;
                    width: 100%;
                    padding: 20px;
                    background-color: var(--yellow);
                    border: 1px solid black;
                    color: black;
                    text-align: center;
                    margin-bottom: 20px;
                }

                .paywith {
                    border-top: 1px solid black;
                    font-family: var(--neuemedium);
                    padding-top: 20px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    p {
                        margin-bottom: 10px;
                        font-size: 12px;
                        letter-spacing: 0.08em;

                        a {
                            text-decoration: underline;
                            font-family: var(--neuebold);
                            font-size: 12px;
                        }
                    }

                    span {
                        margin-left: 10px;
                        margin-bottom: 10px;
                    }

                    .policyhref {
                        margin-top: 20px;
                        padding: 10px;
                        text-align: center;
                        width: 100%;
                        border: 1px solid black;
                        font-size: 10px;
                        letter-spacing: 0.08em;
                    }
                }
            }
        }

        .basketboshdu {
            margin: 60px 0;

            .bskp {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;

                p {
                    text-align: center;
                    font-family: var(--neuebold);
                    font-size: 28px;
                    letter-spacing: 0.1em;
                    color: var(--yellow);
                }
            }
        }
    }
}