:root {
    --white: #FFFFFF;
    --yellow: #EDF109;
    --neueregular: NeuePowerRegular;
    --neuemedium: NeuePowerMedium;
    --neuelight: NeuePowerLight;
    --neueultra: NeuePowerUltra;
    --neuebold: NeuePowerBold;
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

.mycards {
    margin-bottom: 30px;

    .all {
        display: flex;
        justify-content: space-between;
        letter-spacing: 0.08em;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

        .firstp {
            font-family: var(--neueultra);
            margin: 0;
            padding: 0;
            font-size: 50px;
            text-align: center;
            color: var(--yellow);
            margin-bottom: 30px;
            width: 100%;
        }

        .cards {
            margin: 0;
            padding: 0;
            margin-bottom: 30px;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;

            .karta {
                border: 0.8px solid black;
                background-color: white;
                height: 220px;
                margin: 0;
                padding: 0;
                color: black;
                border-radius: 10px;
                position: relative;

                span {
                    font-size: 14px;
                    font-family: var(--neuebold);
                    color: black;
                    background-color: white;
                    position: absolute;

                    &:nth-child(1) {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                    }

                    &:nth-child(2) {
                        position: absolute;
                        top: 4%;
                        left: 10px;
                    }

                    &:nth-child(3) {
                        position: absolute;
                        top: 20%;
                        left: 10px;
                    }

                    &:nth-child(4) {
                        position: absolute;
                        bottom: 4%;
                        left: 10px;
                    }

                    &:nth-child(5) {
                        position: absolute;
                        top: 27%;
                        right: 10px;
                    }
                }

                .makemain {
                    position: absolute;
                    bottom: 4%;
                    right: 10px;
                    text-decoration: underline;
                    font-size: 14px;
                    transition: 0.2s;

                    &:hover {
                        color: var(--yellow);
                    }
                }

                .ismain {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    color: var(--yellow);
                }
            }

            .cardform {
                border: 0.8px solid black;
                background-color: white;
                height: 220px;
                margin: 0;
                padding: 0;
                color: black;
                border-radius: 10px;
                position: relative;

                .clicktoaddnewcard {
                    font-size: 30px;
                    font-family: var(--neueultra);
                    opacity: 0.6;
                    color: black;
                    cursor: pointer;
                    position: absolute;
                    width: max-content;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: 0.2s;
                    z-index: 14;

                    &:hover {
                        opacity: 1;
                    }
                }

                .addcard {
                    margin: 0;
                    display: none;
                    padding: 10px;

                    .cardozu {
                        background-color: white;
                        color: black;
                        position: relative;
                        margin: 0;
                        padding: 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;
                        width: 100%;

                        button {
                            margin-top: 10px;
                            background-color: black;
                            text-align: center;
                            padding: 5px 0;
                            color: white;
                            font-family: var(--neueregular);
                            font-size: 12px;
                        }

                        input {
                            border: 0.8px solid black;
                            outline: none;
                            border-radius: 3px;
                            margin: 5px 0;
                            box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
                            padding: 5px;
                            font-family: var(--neuemedium);
                            letter-spacing: 0.08em;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .mycards {
        .all {
            .firstp {
                font-size: 25px;
                margin-bottom: 20px;
            }

            .cards {
                margin-bottom: 20px;
                grid-template-columns: 1fr;

                .karta {
                    height: 240px;

                    span {
                        font-size: 13px;
                    }
                }

                .cardform {
                    height: 240px;

                    .clicktoaddnewcard {
                        font-size: 20px;
                    }

                    .addcard {
                        .cardozu {
                            button {
                                font-size: 11px;
                            }

                            input {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 576px) and (max-width: 768px) {
    .mycards {
        .all {
            .firstp {
                font-size: 30px;
                margin-bottom: 20px;
            }

            .cards {
                margin-bottom: 20px;
                grid-template-columns: 1fr;

                .karta {
                    height: 300px;

                    span {
                        font-size: 13px;
                    }
                }

                .cardform {
                    height: 300px;

                    .clicktoaddnewcard {
                        font-size: 20px;
                    }

                    .addcard {

                        .cardozu {
                            button {
                                font-size: 11px;
                            }

                            input {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 768px) and (max-width: 992px) {
    .mycards {
        .all {
            .firstp {
                font-size: 25px;
                margin-bottom: 20px;
            }

            .cards {
                margin-bottom: 20px;
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}