* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: NeuePowerLight;
    src: url(../fonts/Neue_Power/NeuePower-Light.ttf);
}

@font-face {
    font-family: NeuePowerMedium;
    src: url(../fonts/Neue_Power/NeuePower-Medium.ttf);
}

@font-face {
    font-family: NeuePowerRegular;
    src: url(../fonts/Neue_Power/NeuePower-Regular.ttf);
}

@font-face {
    font-family: NeuePowerUltra;
    src: url(../fonts/Neue_Power/NeuePower-Ultra.ttf);
}

@font-face {
    font-family: NeuePowerBold;
    src: url(../fonts/Neue_Power/NeuePower-Bold.ttf);
}

:root {
    --white: #FFFFFF;
    --yellow: #EDF109;
    --neueregular: NeuePowerRegular;
    --neuemedium: NeuePowerMedium;
    --neuelight: NeuePowerLight;
    --neueultra: NeuePowerUltra;
    --neuebold: NeuePowerBold;
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

a {
    color: black;
    text-decoration: none;

    &:hover {
        color: black;
    }
}

.where {
    opacity: 0;
    margin-top: 30px;
}

body {
    height: 2000px;
}

@media (min-width: 577px) and(max-width:1100px),
(min-width: 1349px) {

    .all {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .leftmain {
            .photos {
                display: grid;
                grid-template-columns: repeat(2, 50%);
                grid-template-rows: repeat(8, 100px);
                margin: 100px 0;

                .photo {
                    padding: 5px !important;
                    overflow: hidden;

                    &:nth-child(1) {
                        grid-area: 1 / 1 / 4 / 2;
                    }

                    &:nth-child(2) {
                        grid-area: 4 / 1 / 9 / 2;
                    }

                    &:nth-child(3) {
                        grid-area: 1 / 2 / 6 / 3;
                    }

                    &:nth-child(4) {
                        grid-area: 6 / 2 / 9 / 3;
                    }
                }
            }
        }

        .rightmain {}
    }

}