:root {
    --white: #FFFFFF;
    --yellow: #EDF109;
    --neueregular: NeuePowerRegular;
    --neuemedium: NeuePowerMedium;
    --neuelight: NeuePowerLight;
    --neueultra: NeuePowerUltra;
    --neuebold: NeuePowerBold;
}

.footer {
    background-color: white;

    .mainpart {
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        margin: 0;
        padding: 0;
    }

    .all {
        padding: 40px 0px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 0;
        flex-wrap: wrap;

        .parent_div {
            display: flex;
            flex-direction: column;
            letter-spacing: 0.08em;
            margin: 0;
            padding: 0;

            a {
                margin: 4px 0;
                transition: 0.2s;

                &:hover {
                    color: var(--yellow);
                }
            }

            &:nth-child(3) {
                flex-direction: column;
                justify-content: baseline;
                align-items: baseline;
                display: flex;

                .socialmedias {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 10px;
                }
            }

            .footer_header {
                font-size: 16px;
                font-family: var(--neuebold);
                margin-bottom: 20px;
            }

            a {
                font-family: var(--neueregular);
                font-size: 14px;
            }

            .socialmedias {
                display: grid;
                grid-template-columns: auto auto auto auto;
                column-gap: 10px;

                ion-icon {
                    font-size: 35px;
                }
            }
        }
    }

    .bye {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        font-family: var(--neueregular);
        margin: 0;
        padding: 0;

        .all {
            margin: 0;
            padding: 15px 0;

            div {
                letter-spacing: 0.08em;
                font-size: 14px;
                margin: 0;
                padding: 0;

                a {
                    transition: 0.2s;

                    &:hover {
                        color: var(--yellow);
                    }
                }

                &:nth-child(1) {
                    display: grid;
                    column-gap: 15px;
                    grid-template-columns: auto auto auto auto;
                    justify-content: flex-start;

                    a {
                        position: relative;

                        &::before {
                            content: '|';
                            position: absolute;
                            right: -7px;
                            height: 100%;
                            width: 1px;
                        }

                        &:last-child {
                            &::before {
                                content: '';
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    display: grid;
                    column-gap: 15px;
                    grid-template-columns: auto auto auto auto;
                    justify-content: flex-end;

                    a {
                        position: relative;

                        &::before {
                            content: '|';
                            position: absolute;
                            right: -7px;
                            height: 100%;
                            width: 1px;
                        }

                        &:last-child {
                            &::before {
                                content: '';
                            }
                        }
                    }
                }

                &:nth-child(3) {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    margin-top: 10px;

                    a {
                        display: block;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media(max-width:576px) {
    .footer {

        .all {
            padding: 20px 0px;

            .parent_div {
                font-size: 12px;

                &:nth-child(3),
                &:nth-child(4) {
                    margin-top: 20px;
                }

                &:nth-child(even) {
                    flex-direction: column;
                    justify-content: baseline;
                    text-align: end;
                    display: flex;
                }

                &:nth-child(odd) {
                    flex-direction: column;
                    justify-content: flex-end;
                    display: flex;
                }

                .footer_header {
                    font-size: 14px;
                    margin-bottom: 10px;
                }

                a {
                    font-size: 13px;
                }

                .socialmedias {
                    column-gap: 10px;

                    ion-icon {
                        font-size: 25px;
                    }
                }
            }
        }

        .bye {

            .all {
                padding: 10px 0;

                div {
                    font-size: 13px;

                    &:nth-child(1) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;

                        a {
                            &::before {
                                content: '';
                            }
                        }
                    }

                    &:nth-child(2) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 15px;

                        a {
                            margin: 0 15px;

                            &::before {
                                right: -22px;
                            }
                        }
                    }

                    &:nth-child(3) {
                        margin-top: 15px;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .footer {

        .all {
            padding: 20px 0px;

            .parent_div {
                font-size: 13px;

                &:nth-child(3),
                &:nth-child(4) {
                    margin-top: 20px;
                }

                &:nth-child(even) {
                    flex-direction: column;
                    justify-content: baseline;
                    text-align: end;
                    display: flex;
                }

                &:nth-child(odd) {
                    flex-direction: column;
                    justify-content: flex-end;
                    display: flex;
                }

                .footer_header {
                    font-size: 14px;
                    margin-bottom: 10px;
                }

                a {
                    font-size: 14px;
                }

                .socialmedias {
                    column-gap: 10px;

                    ion-icon {
                        font-size: 30px;
                    }
                }
            }
        }

        .bye {

            .all {
                padding: 10px 0;

                div {
                    font-size: 14px;

                    &:nth-child(1) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;

                        a {
                            &::before {
                                content: '';
                            }
                        }
                    }

                    &:nth-child(2) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 15px;

                        a {
                            margin: 0 15px;

                            &::before {
                                right: -22px;
                            }
                        }
                    }

                    &:nth-child(3) {
                        margin-top: 15px;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .footer {
        .all {
            padding: 30px 0px;

            .parent_div {

                .footer_header {
                    font-size: 15px;
                    margin-bottom: 15px;
                }

                a {
                    font-size: 14px;
                }
            }
        }

        .bye {

            .all {

                div {

                    &:nth-child(3) {

                        a {
                            text-align: start;

                            &:nth-child(2) {
                                text-align: end;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .footer {
        .bye {
            .all {
                div {
                    &:nth-child(3) {
                        a {
                            text-align: start;

                            &:nth-child(2) {
                                text-align: end;
                            }
                        }
                    }
                }
            }
        }
    }
}