:root {
    --white: #FFFFFF;
    --yellow: #EDF109;
    --neueregular: NeuePowerRegular;
    --neuemedium: NeuePowerMedium;
    --neuelight: NeuePowerLight;
    --neueultra: NeuePowerUltra;
    --neuebold: NeuePowerBold;
}

.secondmain {
    overflow: hidden;

    .all {
        position: relative;
        letter-spacing: 0.08em;
        font-family: var(--neuebold);
        height: 600px;

        .mission {
            width: 45%;
            font-size: 65px;
            color: var(--yellow);
            position: absolute;
            left: 0%;
            top: 5%;

            span {
                font-style: italic;
            }
        }

        .image1 {
            position: absolute;
            top: 8%;
            right: 22%;
            width: 18%;
            z-index: 8;
        }

        .keeper {
            position: absolute;
            width: 40%;
            top: 40%;
            left: 0%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .image2 {
                width: 70%;
            }

            p {
                padding-left: 18px;
                font-family: var(--neueregular);
                font-size: 20px;
            }
        }

        .image3 {
            position: absolute;
            top: 36%;
            right: 0%;
            width: 24%;
            z-index: 6;
        }

        .seemore {
            font-family: var(--neueregular);
            border: 1px solid #000000;
            position: absolute;
            display: block;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            padding: 20px 60px;
            background-color: var(--white);
            color: black;
            transition: 0.2s;
            font-size: 18px;

            &:hover {
                background-color: var(--yellow);
            }
        }
    }
}

@media (max-width: 576px) {
    .secondmain {

        .all {
            height: 380px;

            .mission {
                width: 100%;
                font-size: 25px;
                left: 0%;
                top: 5%;
            }

            .image1 {
                top: 5%;
                right: 0%;
                width: 26%;
            }

            .keeper {
                width: 60%;
                top: 33%;
                left: 0%;

                .image2 {
                    width: 50%;
                }

                p {
                    padding-left: 10px;
                    font-size: 14px;
                }
            }

            .image3 {
                top: 56%;
                right: 0%;
                width: 26%;
            }

            .seemore {
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                padding: 10px 20px;
                font-size: 14px;
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .secondmain {
        .all {
            height: 500px;

            .mission {
                width: 100%;
                font-size: 35px;
                left: 0%;
                top: 5%;
            }

            .image1 {
                top: 10%;
                right: 16%;
                width: 24%;
            }

            .keeper {
                width: 45%;
                top: 33%;
                left: 0%;

                .image2 {
                    width: 65%;
                }

                p {
                    padding-left: 10px;
                    font-size: 18px;
                }
            }

            .image3 {
                top: 50%;
                right: 0%;
                width: 25%;
            }

            .seemore {
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                padding: 10px 30px;
                font-size: 15px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .secondmain {
        .all {
            height: 500px;

            .mission {
                width: 100%;
                font-size: 45px;
                left: 0%;
                top: 5%;
            }

            .image1 {
                top: 5%;
                right: 16%;
                width: 22%;
            }

            .keeper {
                width: 50%;
                top: 33%;
                left: 0%;

                .image2 {
                    width: 65%;
                }

                p {
                    padding-left: 10px;
                    font-size: 20px;
                }
            }

            .image3 {
                top: 50%;
                right: 0%;
                width: 25%;
            }

            .seemore {
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                padding: 15px 40px;
                font-size: 16px;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .secondmain {
        .all {
            height: 550px;

            .mission {
                width: 100%;
                font-size: 55px;
                left: 0%;
                top: 5%;
            }

            .image1 {
                top: 5%;
                right: 16%;
                width: 20%;
            }

            .keeper {
                width: 50%;
                top: 33%;
                left: 0%;

                .image2 {
                    width: 65%;
                }

                p {
                    padding-left: 10px;
                    font-size: 22px;
                }
            }

            .image3 {
                top: 50%;
                right: 0%;
                width: 22%;
            }

            .seemore {
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                padding: 15px 50px;
                font-size: 17px;
            }
        }
    }
}