.where {
    opacity: 0;
    margin-top: 30px;
}

.shopname {
    .all {
        .top {
            text-align: center;
            font-family: var(--neueultra);
            font-size: 50px;
            text-align: center;
            color: var(--yellow);
            letter-spacing: 0.08em;
        }
    }
}

@import 'shopcategories';

@import 'shoptext';

@import 'shopfilter';

@import 'shopclothes';

@import 'shoppagination';