:root {
    --white: #FFFFFF;
    --yellow: #EDF109;
    --neueregular: NeuePowerRegular;
    --neuemedium: NeuePowerMedium;
    --neuelight: NeuePowerLight;
    --neueultra: NeuePowerUltra;
    --neuebold: NeuePowerBold;
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

.shopclothes {
    margin: 40px 0;
    padding: 0;
    background-color: white;

    .all {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        padding: 0;
        margin: 0;

        .product {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            position: relative;
            margin: 0;
            padding: 0;

            .top {
                margin: 0;
                padding: 0;

                .wishlist {
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    top: 5%;
                    right: 5%;
                    transition: 0.2s;
                    cursor: pointer;
                    background-color: transparent;

                    svg {
                        transition: 0.2s;

                        path {
                            transition: 0.2s;
                        }
                    }

                    &:hover {
                        svg {
                            fill: var(--yellow);

                            path {
                                fill: var(--yellow);
                                stroke: var(--yellow);
                            }
                        }
                    }
                }

                .discount_percent {
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    bottom: 16%;
                    right: 3%;

                    span {
                        font-size: 13px;
                        padding: 5px 10px;
                        background-color: var(--yellow);
                        color: black;
                        font-family: var(--neuemedium);
                        letter-spacing: 2px;
                    }
                }
            }

            .bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                margin: 0;
                padding: 0;
                letter-spacing: 0.08em;


                .botop {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    margin: 0;
                    padding: 0;
                    margin-top: 8px;

                    .botopleft {
                        max-width: 80%;
                        margin: 0;
                        padding: 0;
                        font-size: 15px;
                        font-family: var(--neuemedium);
                    }

                    .botopright {
                        width: max-content;
                        margin: 0;
                        padding: 0;
                        font-family: var(--neuebold);
                        font-size: 19px;
                    }
                }

                .bobottom {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    align-items: center;
                    margin-top: 8px;
                    letter-spacing: 0.08em;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.2s;

                    .basket {
                        position: absolute;
                        top: 5%;
                        left: 5%;
                        cursor: pointer;
                        border: none;
                        outline: none;
                        background-color: transparent;

                        svg {
                            transition: 0.2s;

                            path {
                                transition: 0.2s;
                            }
                        }

                        &:hover {
                            svg {
                                fill: var(--yellow);
                                stroke: var(--yellow);

                                path {
                                    fill: var(--yellow);
                                    stroke: var(--yellow);
                                }
                            }
                        }
                    }

                    .bobotleft {
                        padding: 0;
                        margin: 0;

                        select {
                            width: 100%;
                            outline: none;
                            font-family: var(--neuemedium);
                            border-radius: 0;
                            letter-spacing: 0.08em;
                            font-size: 14px;
                        }
                    }

                    .bobotright {
                        margin: 0;
                        padding: 0;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        input {
                            display: none;
                        }

                        label,
                        .color_box {
                            height: 15px;
                            width: 15px;
                            cursor: pointer;
                            border: 0.3px solid white;
                            outline: 0.3px solid black;
                            position: relative;
                            margin-left: 8px;

                            .markicon {
                                font-size: 20px;
                                position: absolute;
                                bottom: -30%;
                                left: -25%;
                            }
                        }
                    }
                }
            }

            &:hover {
                .top {
                    .wishlist {
                        visibility: visible;
                        opacity: 1;
                    }
                }

                .bottom {
                    .bobottom {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .shopclothes {
        margin: 30px 0;

        .all {
            grid-template-columns: 1fr;
            gap: none;

            .product {
                margin-bottom: 20px;

                .top {
                    .wishlist {
                        visibility: visible;
                        opacity: 1;
                        top: 3%;
                        right: 3%;
                        transition: none;

                        svg {
                            transition: none;

                            path {
                                transition: none;
                            }
                        }
                    }

                    .discount_percent {
                        bottom: 15%;
                        right: 3%;
                    }
                }

                .bottom {
                    .botop {
                        .botopleft {
                            max-width: 80%;
                            font-size: 15px;
                        }

                        .botopright {
                            font-size: 17px;
                        }
                    }

                    .bobottom {
                        margin-top: 8px;
                        opacity: 1;
                        visibility: visible;
                        transition: none;

                        .basket {
                            top: 3%;
                            left: 3%;

                            svg {
                                transition: none;

                                path {
                                    transition: none;
                                }
                            }
                        }

                        .bobotleft {
                            select {
                                font-size: 15px;
                                background-color: white;
                                background: white;
                                border: 0.8px solid black;
                                color: black;
                            }
                        }

                        .bobotright {

                            label,
                            .color_box {
                                height: 20px;
                                width: 20px;
                                border: 0.5px solid white;
                                outline: 0.5px solid black;

                                .markicon {
                                    font-size: 29px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .shopclothes {
        margin: 30px 0;

        .all {
            grid-template-columns: 1fr 1fr;

            .product {

                .top {
                    .wishlist {
                        visibility: visible;
                        opacity: 1;
                        top: 3%;
                        right: 3%;
                        transition: none;

                        svg {
                            transition: none;

                            path {
                                transition: none;
                            }
                        }
                    }

                    .discount_percent {
                        bottom: 20%;
                        right: 3%;
                    }
                }

                .bottom {
                    .botop {
                        .botopleft {
                            max-width: 80%;
                            font-size: 15px;
                        }

                        .botopright {
                            font-size: 17px;
                        }
                    }

                    .bobottom {
                        margin-top: 8px;
                        opacity: 1;
                        visibility: visible;
                        transition: none;

                        .basket {
                            top: 3%;
                            left: 3%;

                            svg {
                                transition: none;

                                path {
                                    transition: none;
                                }
                            }
                        }

                        .bobotleft {
                            select {
                                font-size: 15px;
                                background-color: white;
                                background: white;
                                border: 0.8px solid black;
                                color: black;
                            }
                        }

                        .bobotright {

                            label,
                            .color_box {
                                height: 18px;
                                width: 18px;

                                .markicon {
                                    font-size: 26px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .shopclothes {

        .all {
            grid-template-columns: 1fr 1fr;

            .product {
                .top {
                    .wishlist {
                        visibility: visible;
                        opacity: 1;
                        top: 3%;
                        right: 3%;
                        transition: none;

                        svg {
                            transition: none;

                            path {
                                transition: none;
                            }
                        }
                    }

                    .discount_percent {
                        bottom: 16%;
                        right: 3%;
                    }
                }

                .bottom {
                    .botop {
                        .botopleft {
                            max-width: 80%;
                            font-size: 15px;
                        }

                        .botopright {
                            font-size: 17px;
                        }
                    }

                    .bobottom {
                        margin-top: 8px;
                        opacity: 1;
                        visibility: visible;
                        transition: none;

                        .basket {
                            top: 3%;
                            left: 3%;

                            svg {
                                transition: none;

                                path {
                                    transition: none;
                                }
                            }
                        }

                        .bobotleft {
                            select {
                                font-size: 15px;
                                background-color: white;
                                background: white;
                                border: 0.8px solid black;
                                color: black;
                            }
                        }

                        .bobotright {

                            label,
                            .color_box {
                                height: 18px;
                                width: 18px;

                                .markicon {
                                    font-size: 26px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .shopclothes {

        .all {
            grid-template-columns: 1fr 1fr 1fr;

            .product {
                .top {
                    .wishlist {
                        visibility: visible;
                        opacity: 1;
                        top: 3%;
                        right: 3%;
                        transition: none;

                        svg {
                            transition: none;

                            path {
                                transition: none;
                            }
                        }
                    }

                    .discount_percent {
                        bottom: 17%;
                        right: 3%;
                    }
                }

                .bottom {
                    .botop {
                        .botopleft {
                            max-width: 80%;
                            font-size: 15px;
                        }

                        .botopright {
                            font-size: 17px;
                        }
                    }

                    .bobottom {
                        margin-top: 8px;
                        opacity: 1;
                        visibility: visible;
                        transition: none;

                        .basket {
                            top: 3%;
                            left: 3%;

                            svg {
                                transition: none;

                                path {
                                    transition: none;
                                }
                            }
                        }

                        .bobotleft {
                            select {
                                font-size: 15px;
                                background-color: white;
                                background: white;
                                border: 0.8px solid black;
                                color: black;
                            }
                        }

                        .bobotright {

                            label,
                            .color_box {
                                height: 18px;
                                width: 18px;

                                .markicon {
                                    font-size: 26px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}