:root {
    --white: #FFFFFF;
    --yellow: #EDF109;
    --neueregular: NeuePowerRegular;
    --neuemedium: NeuePowerMedium;
    --neuelight: NeuePowerLight;
    --neueultra: NeuePowerUltra;
    --neuebold: NeuePowerBold;
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

.shoptext {
    padding: 20px 0;
    border-bottom: 1px solid black;
    letter-spacing: 0.08em;

    p {
        font-family: var(--neueregular);
        font-size: 40px;
        text-align: center;

        span {
            &:first-child {
                color: var(--yellow);
                font-family: var(--neuebold);
            }

            &:last-child {
                font-style: italic;
            }
        }
    }
}

@media (max-width:576px) {
    .shoptext {
        padding: 10px 0;

        p {
            font-size: 20px;
        }
    }
}

@media (min-width:576px) and (max-width:768px) {
    .shoptext {
        padding: 15px 0;

        p {
            font-size: 25px;
        }
    }
}

@media (min-width:768px) and (max-width:1200px) {
    .shoptext {
        padding: 20px 0;

        p {
            font-size: 33px;
        }
    }
}